---
title: Hello, World!
---
Welcome to my nanoc page
===

* Table of contents will replace this text.
{:toc}

Introduction
---
This is an example site that I have created using [nanoc](http://nanoc.stoneship.org/)
and kramdown. I like nanoc because it is:

* Like programming, but for **beautiful** content
* Easy to use, but very flexible *and* extensible
* [Ruby]-like

*[programming]: The art of making computer software
[Ruby]: http://ruby-lang.org/ "The Ruby programming language"

Sitemap
---
This is a list of blog posts:

<% posts = @items.select { |x| x.identifier.match(%r{^/posts/}) } %>
<% posts.each do |i| %>
* <%= i.mtime.strftime('%Y-%m-%d, %H:%I:%S') %> - [<%= i[:title] %>](<%= i.path %>)
<% end %>